<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
    <connectionStrings>
        <add name="cnstr" connectionString="Data Source=DESKTOP-0E52RF5;Initial Catalog=QLThuVien;Integrated Security=True" />
        <add name="QLThuVien.Properties.Settings.QuanLyThuVienConnectionString"
            connectionString="Data Source=DESKTOP-0E52RF5;Initial Catalog=QLThuVien;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QLThuVien.Properties.Settings.QuanLyThuVienConnectionString1"
            connectionString="Data Source=DESKTOP-0E52RF5;Initial Catalog=QLThuVien;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QLThuVien.Properties.Settings.QLThuVienConnectionString"
            connectionString="Data Source=DESKTOP-0E52RF5;Initial Catalog=QLThuVien;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QLThuVien.Properties.Settings.QLThuVienConnectionString1"
            connectionString="Data Source=DESKTOP-0E52RF5;Initial Catalog=QLThuVien;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
